@font-face {
    font-family: MarrSans-Regular-Web;
    src: url(resources/fonts/MarrSans-Regular-Web.woff2);
}

@font-face {
    font-family: MarrSansCondensed-Semibold-Web;
    src: url(resources/fonts/MarrSansCondensed-Semibold-Web.woff2);
}


.kclogo-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    left: -8px;
}

img.kclogo {
    position: absolute;
    width: 300px;
    left: -15px;
}



body {
    font-size: 1.0em;
    font-family: Helvetica, sans-serif;

    /* Set a linear gradient from black to white */
    /* background: linear-gradient(to bottom,  white,rgb(217, 221, 250)); */
    /* Ensure the gradient covers the entire viewport */
    min-height: 100vh;
    margin: 0;
    /* Optional: Set font and text color for better contrast */
    align-items: center;
}

table {
    /* border-spacing: 0.5em; */
}

th,
tr {
    text-align: left;

}

td {
    border: none;
    padding: 0.5rem;
}

th:nth-child(1),
td:nth-child(1) {
    width: 80px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 250px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 100px;
}

th:nth-child(4),
td:nth-child(4) {
    width: 100px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 100px;
}

th:nth-child(6),
td:nth-child(6) {
    width: 100px;
}


.container {
    max-width: 1200px;
    /* Adjust the max-width to your preference */
    margin: 0 auto;
    /* Center the container */
    padding: 0 20px;
    /* Optional: Add padding for better appearance */

}

.hero-section {
    background-image: url('resources/birdsview.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.day-button {
    font-family: "MarrSansCondensed-Semibold-Web";
    padding: .42em 1.125em;
    font-size: 1.625rem;
    display: inline-block;
    margin: 0 0.25em 0.25em 0;
    text-decoration: none;
    /* box-shadow: 5px 4px 0px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 4px 0px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 0px 1px rgba(0,0,0,0.75); */
    background-color: #1f1f1f;
    transition: background .2s ease 0ms, color .2s ease 0ms, border .2s ease 0ms;
    color: white;
}

.day-button:hover {
    background-color: #00fcbc;
    color: #1f1f1f;
}